.main {
  flex-flow: column nowrap;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}

.main-content {
  flex-direction: column;
}

.main-content-content {
  flex: 1;
}
