.wrapper {
  transition: transform .11s cubic-bezier(.2,0,1,.9),-webkit-transform .11s cubic-bezier(.2,0,1,.9);
  will-change: transform;
}

.wrapper-open {
  transform: translate(100vw);
}

.parent-menu {
  background-color: var(--color--parent-menu-bg);
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -100vw;
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (min-width: 768px) {
  .wrapper-open {
    transform: translate(16rem);
  }

  .parent-menu {
    width: 16rem;
    left: -16rem;
  }
}

.parent-menu__toggle {
  cursor: pointer;
  height: 2rem;
  padding: 0.75rem;
}

.parent-menu__toggle--open {
  transform: rotate(90deg);
  fill: var(--color--sidebar-text);
}

.parent-menu__toggle--close {
  align-self: flex-end;
  fill: var(--color--parent-menu-text);
}

.parent-menu ul {
  list-style: none;
  padding: 0 var(--gutter-width);
  margin: 0;
}

.parent-menu a {
  color: var(--color--parent-menu-text);
}
