.wrapper {
  transition: transform .11s cubic-bezier(.2,0,1,.9),-webkit-transform .11s cubic-bezier(.2,0,1,.9);
  will-change: transform;
}

.wrapper-open {
  transform: translate(100vw);
}

@media screen and (min-width: 768px) {
  .wrapper-open {
    transform: translate(16rem);
  }
}
